/****************ALL*******************/
html{
    margin:0;
    height: 100%;

}
body {
    background: black;
    display: grid;
    min-height: 130vh;
    width: 100%;
    grid-template-rows: 28vh auto 5vh;
    font-family: system-ui, sans-serif;
    margin: 0;
    position: relative;
}

header {
    /*height: 25vh;*/
    padding: 1rem;
}
/*----LOGO----*/
#logo{
    width: 30vw;
    height: auto;
    float: left;
}
#logo img{
    width: 100%;
}
main {
    padding: 1rem;
    height: 100%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #aaaaaa;
    text-align: center;
}
footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #7AF8FF;
    border: 1px solid #7AF8FF;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: black;
    background-color: #7AF8FF;
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    background: #7AF8FF;
    color: #050801;
    box-shadow: 0 0 5px #7AF8FF,
    0 0 25px #7AF8FF,
    0 0 50px #7AF8FF,
    0 0 200px #7AF8FF;
}
/*footer a:hover strong {*/
/*    color: #912;*/
/*    background-color: #DDD;*/
/*}*/

/*----NAVI----*/

#primaryLinks {
    height: auto;
    width: 30%;
    float: right;
    color: #888888;
    display: block;
    margin-top: 18vh;
    border-right: solid #7AF8FF 20px;
}
#primaryLinks ul {
    margin: 0;
    padding: 0;
}
#primaryLinks ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#primaryLinks > ul > li > a {
    color: #aaaaaa;
    display: block;
    line-height: 56px;
    padding: 0 10px;
    text-decoration: none;
}
#primaryLinks > ul > li:hover {
    background: #7AF8FF;
    color: #050801;
    box-shadow: 0 0 5px #7AF8FF,
    0 0 25px #7AF8FF,
    0 0 50px #7AF8FF,
    0 0 200px #7AF8FF;
}
#primaryLinks > ul > li:hover > a {
    color: black;
}


.dropdown-content {
    display: none;
    z-index: 999;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background: #7AF8FF;
    color: #050801;
    box-shadow: 0 0 5px #7AF8FF,
    0 0 25px #7AF8FF,
    0 0 50px #7AF8FF,
    0 0 200px #7AF8FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#primaryLinks ul li.dropdown {
    display: inline-block;
}

/*----FOR PHONE----*/
@media screen and (max-width:980px ){
    body{
        display: block;
    }
    #logo {
        width: 100%;
        height: 10vh;
    }
    #primaryLinks{
        width: 100%;
        text-align: center;
    }

    footer{
        position: absolute;
        bottom: 0;
        left:0;
        height: 5vh;
        width: 100%;
        font-size: smaller;
    }

}

/****************INDEX*******************/


/*----MAIN CONTAINER----*/

.hero {
    background: url("https://live.staticflickr.com/34/93828022_c40c635786_b.jpg") rgba(100, 150, 50, 0.5) no-repeat center center;
    background-blend-mode: multiply;
    height: 50%;
    background-size: cover;
    position: relative;
}

#bottom {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 75% 24%;
    grid-gap: 1rem;
}

#bottom-left {
    float: left;
}
#bottom-left h3{
    color: white;
}
#bottom-left p {
    display: inline;
    color: #aaaaaa;
}

#bottom-right {
    float: right;
    text-align: right;
}

#bigButton {
    background-color: black;
    display: inline-block;
    cursor: pointer;
    color: #7AF8FF;
    font-size: 3vw;
    padding: 1.5rem 5rem;
    text-decoration: none;
    border: solid #7AF8FF 1px;
    box-shadow: 0 0 5px #7AF8FF;
    border-radius: 5px;
    letter-spacing: 4px;
    transition: 0.5s;
}


#bigButton:hover {
    background: #7AF8FF;
    color: #050801;
    box-shadow: 0 0 5px #7AF8FF,
    0 0 25px #7AF8FF,
    0 0 50px #7AF8FF,
    0 0 200px #7AF8FF;
}

#bigButton:active {
    text-decoration: none;
    position: relative;
    top: 1px;
}
@media screen and (max-width:980px ) {
    .hero{
        width: 100%;
        height: 30vh;
        display: inline-block;
    }
    #bottom{
        display: block;
    }

    #bottom-right {
        margin-top: 2vh;
        background-color: white;
        width: 100%;
    }
    #bigButton{
        display: block;
        text-align: center;
        /*width: 100%;*/
        /*font-size: 10vw;*/
    }

}
/****************ABOUT*******************/
#About_content {
    height: 100%;
    color: antiquewhite;
}


#content_left {
    display: grid;
    grid-template-rows: 80% 15%;
    grid-gap: 2rem;
    padding: 1rem;
}


@media screen and (max-width:980px ){
    #About_content{
        display: block;
        word-break:break-word;
    }
}


/****************TIME LINE*******************/

#time_content{
	height: auto;
    text-align: center;
}
.timeRow{
    display: flow;
}
.year{
    margin-top: 2vw;
    width: 100%;
    color: #7AF8FF;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
}
.clickable{
    text-shadow: 0 0 5px #7AF8FF,
    0 0 25px #7AF8FF,
    0 0 50px #7AF8FF,
    0 0 200px #7AF8FF;
}
.clickable:hover{
    cursor: pointer;
    -webkit-animation: twinkling 1s infinite ease-in-out
}
.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes twinkling{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes twinkling{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
/*==============POPOVER*/
.webui-popover-inner{
    width: 50vw;
    max-height: 500px;
    overflow: auto;
    /*background-color: rgba(14, 86, 106, 1);*/
    background-color: black;
    border-radius: 5px;
    color: #cccccc;
    box-shadow: 0 0 5px black,
    0 0 5px #7AF8FF,
    0 0 20px #7AF8FF;
}
.webui-popover-content{
    text-align: justify;
}
.webui-popover-content h3{
    margin:10px;
}
.picAndText{
    display: flex;
}
.picAndText p, .picAndText img{
    margin:10px;
}


.history{
    display: inline-block;
    color: white;
    width: 80%;
    font-size: 2rem;
}
.history p{
    word-wrap: break-word;
    text-align: justify;
}

.arrow{
    display: block;
    width: 50%;
    height: 80px;
    border-right: solid #7AF8FF 4px;
    float: left;
}

@media screen and (max-width:980px ){
    #time_content{
        margin-bottom: 50px;
    }
    .webui-popover-inner{
        width: 60vw;
    }
    .picAndText{
        display: block;
    }
    .picAndText img{
        display: none;
    }
    .history p{
        font-size: 1rem;
        text-align: justify-all;
    }

}











